#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #fff ;
}
#loader {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-style: solid;
    border-width: 16px;
    border-color: #ffa352 #e7e8e8 #e7e8e8;
    border-radius: 50%;
    height: 92px;
    width: 92px;
    left: 50%;
    margin: -46px 0 0 -46px;
    position: fixed;
    top: 50%;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}