/* ---------------------------------------------- /*
* EVENT-DESCRIPTION
/* ---------------------------------------------- */
.event{
    width:100%;
    .container{
        padding: 38px 78px 83px 79px;
        @media @tablets,@smartphones{
            padding: 38px 10px 83px 10px;
        }
        @media @mobile-area{
            padding: 0px 0px 83px 0px;
        }
    }
    .page_caption_lks{
        margin-left: 53px;
        a{
            padding: 10px 25px 13px;
        }
        @media @mobile-area{
            display: block;
            margin-left: 0px;
            background: #fff;
            margin-top: 30px;
        }
    }
    .page_caption{
        @media @mobile-area{
            background: #fff;
            padding-left: 30px;
        }
    }
    .page_caption_lk_i{
        a{
            @media @mobile-area{
                color: #464646;
                padding: 7px 0 13px;
            }
        }
    }
}
.event-description{
    background: #f9fdff;
    margin-top: 32px;
    @media @mobile-area{
        margin: 0 30px;
    }
}
.event-description_h{
    font-size: 0;
    line-height: 1;
    letter-spacing: -4px;
    padding: 33px 33px 32px 31px;
    box-shadow: 0 1px 0 0 #d7dde0 inset, -1px 0 0 0 #d7dde0 inset, 1px 0 0 0 #d7dde0 inset;
}
.all-list{
    float:right;
    position: relative;
    right: 6px;
    top: 4px;
    display: block;
    background: url("../images/sprite.png");
    background-position: -31px -263px;
    background-repeat: no-repeat;
    height:11px;
    width:11px;
    &:hover{
       background-position: -31px -274px;
    }
}
.event-description_date,.event-description_t{
    display: inline-block;
    vertical-align: bottom;
    letter-spacing: normal;
}
.event-description_date{
    font-family:'SegoeUI-Bold';
    font-size: 12px;
    line-height: 1;
    color:#464646;
}
.event-description_t{
    color: #015198;
    text-transform: uppercase;
    margin-left: 29px;
    font-family: "SegoeUI-SemiBold";
    font-size: 18px;
}
.event-description_descr{
    padding: 57px 122px 119px 120px;
    box-shadow: 0 0 0 1px #c0d3de inset;
    @media @medium-devices{
        padding: 57px 61px 60px 60px;
    }
    @media @tablets,@smartphones,@mobile-area{
        padding: 30px 61px 60px 60px;
    }
}
.event-description_tx{
    font-family:'SegoeUI-Regular';
    font-size: 17px;
    text-align: justify;
    color:#010101;
    line-height: 30px;
    padding-bottom: 61px;
    p{
        text-indent: 10px; 
    }
    @media @tablets,@smartphones{
        font-size:15px;
        padding-bottom: 30px;
    }
    @media @mobile-area{
        font-size:14px;
        padding-bottom: 30px;
    }
}